{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>OpenSource SW Final-term Project</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>

    <body >
        <header class="bar">
            <div class="intro">
                <a class="small_title" href="/"><strong>"김우중"은 누구인가?</strong></a>
            </div>
            <div class="Intro_box">
                <table>
                    <thead>
                        <tr>
                            <th><a href="residence/">사는 곳</a></th>
                            <th><a href="hobby/">취미</a></th>
                            <th><a href="sch_fri/">학교와 친구들</a></th>
                            <th><a href="travel/">여행</th>
                            <th><a href="TMI/">TMI</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </header>
        <div class="Self_Intro">
            <h1 style="margin-left: 15%; font-size: 50px;"><span style="background-color: rgb(255, 99, 71);">🔥자기소개🔥</span></h1>
        </div><br>
        <div class="Context_box">
            <img class="sel-ca" src="https://user-images.githubusercontent.com/101173754/174440348-3d3720d5-74ef-4b90-9ff6-57b5feac64cb.jpg" width="350" height="250">
            &nbsp;안녕하세요! 저는 현재 단국대학교에 재학중인 <strong>김우중</strong>이라고 합니다.<br>
            소프트웨어학과생 18학번으로 22년 기준 3학년이 되었습니다.<br><br>

            &nbsp;19년도 군입대 전까지 학과와 적성이 맞지 않는 것 같아 미래에 대한 불안감과<br> 이로 인한 방황도 있었지만,
            군대에 있으면서 혼자 생각도 많이 해보고, 여러 가지를 배우면서 인생의 전환점을 맞이한 것 같습니다.<br>
            깨달은 것들을 토대로 노력한 결과, 2학년 2학기에 받은 높은 학점과 결과로 받은 성적 장학금 그리고 친구들의 도움 덕분에 마음을 다잡고 열심히 살고 있습니다.<br><br>

            &nbsp;더욱 저 자신을 갈고닦기 위해 현재 단국대 4STUP 연구실에 다니고 있으며 이곳에서 여러 프로젝트를 진행하면서
            많은 것을 배웠고 또 배우는 중입니다.<br><br>

            저에 대한 자세한 소개는 우측 상단의 <strong>[사는 곳/취미/학교와 친구들/여행/TMI]</strong> 항목에서 더 자세히 보실 수 있습니다.
            또한, <strong>'김우중은 누구인가?'</strong>를 클릭하시면 다시 이곳으로 돌아올 수 있습니다.
        </div>
        <br><br><br>
        <footer>
            <div>
                TEL | 010-XXXX-XXXX<br>
                Email | 32180874@dankook.ac.kr <br>
                COPYRIGHTⓒ 2022.DKU_SW_KIM.WOO.JUNG. ALL RIGHTS RESERVED
            </div>
        </footer>
    </body>
</html>